.main{
    height: 100%;
    width: 100%;
    margin: 0px;
}

/*.test{
    border: 1px solid #dedede;
}
*/
.divider{
    width: 100%;
    border: 1px solid #edf0fe;
    border-radius: 9px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .main-left-side{
        background-color: #ffffff;
        -webkit-box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        -moz-box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 14320px) {
    .main-left-side{
        background-color: #ffffff;
        -webkit-box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        -moz-box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        box-shadow: 13px 0px 36px -2px rgba(222,222,222,1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100%;
        min-height: 1000px;
        min-width: 350px !important;
        position: fixed;
        z-index: 2;
    }
}


@media screen and (min-width: 0px) and (max-width: 767px) {
    .main-right-side{
        height: 100%;
        width: 100%;
        background-color: #f6f6fa;
        padding-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 14320px) {
    .main-right-side{
        height: 100%;
        width: 100%;
        padding-left: 430px;
        max-width: 100% !important;
        flex: 0 0 100% !important;
        min-width: 1167px !important;
        padding-bottom: 30px;
        background-color: #f6f6fa;
    }
}

.main-left-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-left-content-info{
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name-container{
    border-radius: 9px;
    background-color: #edf0fe;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.title{
    color: #433d56;
    font-family: 'Concert One', cursive;
}

.info-container{
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info-container-broken{
    padding-right: 10px;
    padding-left: 13px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;    
}

.info-adress{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name{
    color: #5e547e;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Fredoka One', cursive;
}

.subname{
    font-size: 17px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #666;
}

.cuote-container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cuote{
    color: #666;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Righteous', cursive;
}

.studies{
    color: #433d56;
    font-family: 'Concert One', cursive;
}

.location{
    color: #433d56;
    font-family: 'Concert One', cursive;   
}

.avatar{
    border-radius: 9px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 204px 11px rgba(222,222,222,1);
    -moz-box-shadow: 1px 1px 204px 11px rgba(222,222,222,1);
    box-shadow: 1px 1px 204px 11px rgba(222,222,222,1);
}

.title-right{
    color: #5e547e;
    font-family: 'Concert One', cursive;
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.skills{
    max-width: 200px;
}

.education{
    max-width: 400px;
}

.interest{
    max-width: 270px;
}

.card-title{
    color: #5e547e;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    line-height: 20px;
}

.date{
    font-size: 25px;
    line-height: 25px;  
}

.img-language-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.card-date{
    color: #ffaa60;
}

.card-body{
    border: 1px solid transparent !important;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .card{
        border: 1px solid transparent !important;
        border-radius: 10px;
        margin: 10px;
        max-width: 100% !important;
        -webkit-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
        box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
    }
}
@media screen and (min-width: 768px) and (max-width: 14320px) {
    .card{
        border: 1px solid transparent !important;
        margin-top: 15px;
        margin-left: 18px;
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
        box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
    }
}









/* TIMELINE */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-time {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #5e547e;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -12px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
    -moz-box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
    box-shadow: 1px 1px 190px 0px rgba(222,222,222,1);
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container-time {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container-time::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}